
{% extends "vue-templates.html" %}

{% block body %}
	(( super() ))

	<script type="text/x-template" id="player-matches-template">
		<ul>
			<li v-for="pm in player_matches">
				{{ pm.player.name + "," +  pm.minutes }}
			</li>
		</ul>
	</script>

	<script type="text/x-template" id="opponent-picker-template">
		<div>Opponent
			<select v-model="selected" @change.prevent="onChange">
				<option v-for="opponent in opponents" v-bind:value="opponent.id">
					{{ opponent.name }}
				</option>
			</select>
			<span>opp: {{ opponent.id }}</span>
		</div>
	</script>

	<script type="text/x-template" id="match-template">
		<div>Match: {{ match }}
			<br/>

			<opponent-picker-comp v-bind:opponent="match_data.opponent">

			</opponent-picker-comp>
			<span>Opponent: {{ match_data.opponent.name }}</span>

			<br/>Competition: {{ match_data.competition.name }}

			<player-matches-comp
					v-bind:player_matches="match_data.player_matches">
			</player-matches-comp>
		</div>
	</script>

	<section>
		<div id="editor_app">
			<input v-model="match">
			<match-component v-bind:match="match">

			</match-component>
		</div>
	</section>

{% endblock %}