{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>((current_user.teams[0].name ))</h1>
        <p>Team Stats</p>
    </div>

    <div>
        View stats by
            <ul>
                <li><a href="/stats#/match-list">Matches</a></li>
                <li><a href="/stats#/opponent-list">Opponents</a></li>
                <li><a href="/stats#/competition-list">Competitions</a></li>
                <li><a href="/stats#/player-list">Players</a></li>
            </ul>
    </div>
    <div>
        <a class="btn btn-warning" href="(( url_for('.logout') ))">
                Sign out!
        </a>
    </div>

{% endblock %}


{% block js %}
{% endblock %}
