{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Flask Foundation</h1>
        <p>The unopinionated flask framework</p>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>What's Included</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Statistics</h3>
            <p>
            <ul>
                <li><a href="/stats">Team Statistics</a></li>
            </ul>
            </p>
        </div>

        <div class="col-md-4">
            <h3>Add/Edit</h3>
            <p>
            <ul>
                <li><a href="/players">Matches</a></li>
                <li><a href="/opponents">Opponents</a></li>
                <li><a href="/players">Players</a></li>
                <li><a href="/players">Campaigns</a></li>
                <li><a href="/players">Team</a></li>

            </ul>
            </p>
        </div>

    </div>

 {% endblock %}