{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Flask Foundation</h1>
        <p>The unopinionated flask framework</p>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h3>What do you want to do?</h3>
            <p>
            <ul>
                <li><a href="/edit">View statistics</a></li>
                <li><a href="/edit">Add/Modify data</a></li>
            </ul>
            </p>
        </div>

    </div>

 {% endblock %}