{% extends "base.html" %}


<html ng-app="myapp">
{% block head_js %}
	<link rel="stylesheet" href="(( url_for('static', filename='css/vendor/bootstrap.min.css') ))">
{% endblock %}
{% block body %}


	<!-- component template -->
	<section class="box" style="background-color: #eee;">

		<script type="text/x-template" id="grid-template">
		  <table class="table table-striped table-bordered">
			<thead>
			  <tr>
				<th v-for="key in columns"
				  @click="sortBy(key)"
				  :class="{ active: sortKey == key }">
				  {{ key | capitalize }}
				  <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
				  </span>
				</th>
			  </tr>
			</thead>
			<tbody>
			  <tr v-for="entry in filteredData">
				<td v-for="key in columns">
				  {{entry[key]}}
				</td>
			  </tr>
			</tbody>
		  </table>
		</script>
	</section>


	<!-- demo root element -->
	<section class="box" style="background-color: #eee;">
		<div id="demo">
			<h1>Player Match</h1>
			<form id="search">
				Search <input name="query" v-model="searchQuery">
			</form>
			<demo-grid
				:data="gridData"
				:columns="gridColumns"
				:filter-key="searchQuery">
			</demo-grid>
		</div>
	</section>


	<!-- demo root element -->
	<section class="box" style="background-color: #eee;">
		<div id="demo2">
			<h1>Match</h1>
			<form id="search">
				Search <input name="query" v-model="searchQuery">
			</form>
			<demo-grid
				:data="gridData"
				:columns="gridColumns"
				:filter-key="searchQuery">
			</demo-grid>
		</div>
	</section>


	<script src="(( url_for('static', filename='js/vendor/vue.min.js') ))"></script>
	<script src="(( url_for('static', filename='js/vendor/axios.min.js') ))"></script>
	<script src="(( url_for('static', filename='js/vendor/marked.min.js') ))"></script>
	<script src="(( url_for('static', filename='js/app.js') ))"></script>
{% endblock %}